.container
  .row
    .col-xs-6.col-xs-offset-2
      h2.col-xs-offset-4
        | 本当に退会しますか
      p.taikai-p.col-xs-12.col-xs-offset-1
        |  退会すると、会員登録情報や
        br
        |  これまでの購入履歴が閲覧できなくなります。
        br
        |  退会する場合は、「退会する」をクリックしてください。 
      .taikai-div.col-xs-offset-4
        = link_to  "退会しない", end_users_path, class:"btn btn-primary"
      .taikai-div.col-xs-offset-2
        = link_to  "退会する", end_users_destroy_path, method: :patch, to: "controller#method", class:"btn btn-danger","data-confirm" => "本当にアカウントを削除しますか？"
