.container
  .row
    h3.sign_up.col-xs-7.col-xs-offset-2
      | 新規会員登録
    .col-xs-7.col-xs-offset-2
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field.row
          label.col-xs-3
            | 氏名
          em.col-xs-1
            | (性)
          = f.text_field :first_name, class:"col-xs-3", autofocus: true
          em.col-xs-1
            | (名)
          = f.text_field :last_name
        .field.row
          label.col-xs-3
            | フリガナ
          em.col-xs-1
            | (セイ)
          = f.text_field :last_name_kana, class:"col-xs-3"
          em.col-xs-1
            | (メイ)
          = f.text_field :first_name_kana
        .field.row
          label.col-xs-4
            | メールアドレス
          = f.email_field :email, autocomplete: "email",class:"col-xs-7"
        .field.row
          label.col-xs-4
            | 郵便番号(ハイフンなし)
          = f.text_field :postcode
        .field.row
          label.col-xs-4
            | 住所
          = f.text_field :address, class:"col-xs-8"
        .field.row
          label.col-xs-4
            | 電話番号(ハイフンなし)
          = f.text_field :phone_number
        .field.row
          label.col-xs-4
            | パスワード(6文字以上)
          = f.password_field :password, autocomplete: "new-password"
        .field.row
          label.col-xs-4
            | パスワード(確認用)
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions.submit
          = f.submit "新規登録", class:"btn btn-success"
    .col-xs-7.col-xs-offset-2.login
      h3
        | 既に登録済みの方
      p
        = link_to 'こちら', new_end_user_session_path
        | からログインしてください
