<div class="container">
    <div class="row">
        <h3>会員一覧画面</h3>
        <div class="col-xs-7">
            <table class="table">
                <thead>
                    <tr>
                        <th>会員ID</th>
                        <th>氏名</th>
                        <th>メールアドレス</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.first_name + "　" + user.last_name %></td>
                            <td><%= user.email %></td>
                            <td>
                                <% unless user.paranoia_destroyed? %>
                                    有効
                                <% else %>
                                    退会済み
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>