<div class='col-xs-3'>
            <table class="table table-bordered">
                <thead>
                    <th>ジャンル検索</th>
                </thead>
                <tbody>
                    <% categorys.each do |category| %>
                        <tr>
                            <td><%= category.name %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>